<!DOCTYPE html>
<meta charset="utf-8">
<meta name="robots" content="noindex">

<meta name="viewport" content="width=device-width, initial-scale=0.8">
<html>
   <head>
       
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' rel='stylesheet'/>
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
        <link href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet'/>
        <link rel="stylesheet" href="style.css">
        <title>🎈</title>
   </head>
   <body>
        <div class='navbar no-items section' id='navbar'></div>
       <div class="user">
           <div class="details">
                <span><div class="emoji">🎈</div></span>
                <span><img alt='User Photo' id='userPhoto' src='https://avatars0.githubusercontent.com/u/6079545?s=460&u=101a828b0003993c7aec0a4d17fb945b9e86e9b3&v=4'/></span>
                
            </div>
            <spam class="desc" id='userNameFull'>Yay 🎂🎉 </spam>
            
       </div> 
        
        <div id='links'>
            <div class="highlinks">
                
                <div class="head">
                    <div class="tag">👇 SAVE THE DATE</div>
                    <div class="tag cyan">🗓 Somewhere 23. - 26. June 2022</div>
                </div>
              
                <h2>Let's celebrate my 9861th day on earth</h2>
                <p>👋 Hoi friend. You are invited! And since you might be familiar with my spontaneous nature, the unpredicability of Dutch weather and my love for chaotic WhatsApp groups I created this live calendar link / calendar blocker to subscribe to and stay up to date. Whatever is planned will simply pop up in your agenda with time, location and stuff 🙌 🙂  </p>
                <!-- <a class='link' href='https://drive.google.com/drive/folders/1nsfn2F4Zv22WbTimNND6Fmd3Cx0JFaMl?usp=sharing' id="" target='_blank'><i aria-hidden='true' class='fa fa-drive'></i>&#160;&#160; Public Folder</a> -->
                <a class='link' href='webcal://calendar.google.com/calendar/ical/0cue9opjntq7h2tnvb1io9e6h0%40group.calendar.google.com/public/basic.ics' id="carpool" ><i aria-hidden='true' class='fa fa-calendar'></i>&#160;&#160; Subscribe in your calendar</a>
                <p class="small">(might only work on iOS - <a href="https://calendar.google.com/calendar/ical/0cue9opjntq7h2tnvb1io9e6h0%40group.calendar.google.com/public/basic.ics">non-dynamic version here)</a></p>
                <p>(there might be multiple events - thus multiple occasions to join and I'm open for suggestions  🙌)</p>
                <div class="framewrapper"><iframe src="https://calendar.google.com/calendar/embed?height=200&wkst=2&bgcolor=%23343232&ctz=Europe%2FBerlin&mode=AGENDA&title=Phil%20Bday&showTabs=0&showPrint=0&showDate=0&showNav=0&showTitle=0&showTz=0&showCalendars=0&src=MGN1ZTlvcGpudHE3aDJ0bnZiMWlvOWU2aDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23AD1457" style="border-width:0" width="400" height="200" frameborder="0" scrolling="no"></iframe></div>
                <p>If you fancy joining a noisy birthday WhatsApp group :) </p>
                <a class='link' href='https://chat.whatsapp.com/BKon209TgSBE2uaSVcS6Pj' id="carpool" ><i aria-hidden='true' class='fa fa-whatsapp'></i>&#160;&#160; Join WhatsApp group</a>
            </div>
            </div>
       

      <!-- Javascript -->
        <script src='bday.js' ></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </body>
</html>

