<!DOCTYPE html>
<meta charset="utf-8">
<meta name="robots" content="noindex">

<meta name="viewport" content="width=device-width, initial-scale=0.8">
<html>
   <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NHGJTXS');</script>
        <!-- End Google Tag Manager -->
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' rel='stylesheet'/>
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
        <link href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet'/>
        <link rel="stylesheet" href="style.css">
        <title>🎈</title>
   </head>
   <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHGJTXS"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class='navbar no-items section' id='navbar'></div>
       <div class="user">
           <div class="details">
                <span><div class="emoji">🎈</div></span>
                <span><img alt='User Photo' id='userPhoto' src='https://avatars0.githubusercontent.com/u/6079545?s=460&u=101a828b0003993c7aec0a4d17fb945b9e86e9b3&v=4'/></span>
                
            </div>
            <spam class="desc" id='userNameFull'>Yay 🎂🎉 </spam>
            
       </div> 
        
        <div id='links'>
            <div class="highlinks">
                
                <div class="head">
                    <div class="tag">SAVE THE DATE 👉</div>
                    <div class="tag cyan savedate"></div>
                    <!-- <a class="tag cyan " href='' id="calinvite" ><i aria-hidden='true' class='fa fa-calendar'></i>&#160;&#160; Subscribe   </a> -->
                    <!-- <a class="tag cyan " href='' id="groupinvite" ><i aria-hidden='true' class='fa fa-whatsapp'></i>&#160;&#160; Join   </a> -->


                </div>
              
                <h2></h2>
                <h2></h2>
                <p class="invite">  </p>
                <div class="framewrapper">
                    
                    <iframe src="https://calendar.google.com/calendar/embed?height=200&wkst=2&bgcolor=%23343232&ctz=Europe%2FBerlin&mode=AGENDA&title=Phil%20Bday&showTabs=0&showPrint=0&showDate=0&showNav=0&showTitle=0&showTz=0&showCalendars=0&src=MGN1ZTlvcGpudHE3aDJ0bnZiMWlvOWU2aDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23AD1457" style="border-width:0" width="auto" height="150" frameborder="0" scrolling="no"></iframe>
                    <a class='link' href='webcal://calendar.google.com/calendar/ical/0cue9opjntq7h2tnvb1io9e6h0%40group.calendar.google.com/public/basic.ics' id="calinvite" ><i aria-hidden='true' class='fa fa-calendar'></i>&#160;&#160; Subscribe in your calendar</a>
                </div>
                <p class="small">(might only work on iOS - <a href="https://calendar.google.com/calendar/ical/0cue9opjntq7h2tnvb1io9e6h0%40group.calendar.google.com/public/basic.ics">non-dynamic version here)</a></p>
                <div class="rsvp"> 
                    <h2></h2>
                    <div class="rsvp journey"></div>
               
                </div>              
                                
                <div class='partytheme'>
                    
                </div>
                
                <h2>Looking forward to catch up ✌️</h2>
            </div>
            </div>
       

      <!-- Javascript -->
        <script src='bday.js' ></script>
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </body>
</html>
