<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.8">
<html>
   <head>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' rel='stylesheet'/>
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
        <link href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet'/>
        <link rel="stylesheet" href="style.css">
        <title>🎈</title>
   </head>
   <body>
        <div class='navbar no-items section' id='navbar'></div>
       <div class="user">
           <div class="details">
                <span><div class="emoji">🎈</div></span>
                <span><img alt='User Photo' id='userPhoto' src='https://avatars0.githubusercontent.com/u/6079545?s=460&u=101a828b0003993c7aec0a4d17fb945b9e86e9b3&v=4'/></span>
                <spam class="desc" id='userNameFull'>Yay 🎂🎉</spam>
                
        </div>
            
       </div> 
        
        <div id='links'>
            <div class="highlinks">
                
                <div class="head">
                    <div class="tag">👇 SAVE THE DATE</div>
                    <div class="tag cyan">🗓 Somewhere 23. - 26. June 2022</div>
                </div>
              
                <h2>Let's celebrate my 9861,75th day on this planet</h2>
                <p>👋 Cheers You are invited! And since you might be familiar with my love for noisy WhatsApp groups, my spontaneous nature as well as the unpredicability of Dutch weather I created this live calendar link to subscribe and stay up to date 🙌  </p>
                <!-- <a class='link' href='https://drive.google.com/drive/folders/1nsfn2F4Zv22WbTimNND6Fmd3Cx0JFaMl?usp=sharing' id="" target='_blank'><i aria-hidden='true' class='fa fa-drive'></i>&#160;&#160; Public Folder</a> -->
                
                <iframe src="https://calendar.google.com/calendar/embed?height=200&wkst=2&bgcolor=%23343232&ctz=Europe%2FBerlin&mode=AGENDA&title=Phil%20Bday&showTabs=0&showPrint=0&showDate=0&showNav=0&showTitle=0&showTz=0&showCalendars=0&src=MGN1ZTlvcGpudHE3aDJ0bnZiMWlvOWU2aDBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23AD1457" style="border-width:0" width="400" height="200" frameborder="0" scrolling="no"></iframe>
                <a class='link' href='https://calendar.google.com/calendar/ical/0cue9opjntq7h2tnvb1io9e6h0%40group.calendar.google.com/public/basic.ics' id="carpool" target='_blank'><i aria-hidden='true' class='fa fa-calendar'></i>&#160;&#160; Subscribe in your calendar</a>
            </div>
            </div>
       

      <!-- Javascript -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </body>
</html>

