<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
   <head>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' rel='stylesheet'/>
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
        <link href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet'/>
        <link rel="stylesheet" href="style.css">
        <title>flasq</title>
   </head>
   <body>
        <div class='navbar no-items section' id='navbar'></div>
        <img alt='User Photo' id='userPhoto' src='img/flasq logo wh.svg'/>
        <spam class="desc" id='userName'><a href="https://www.instagram.com/flasq.eu/" target='_blank'>@flasq.eu</a></spam>


        <div class="video">
            <iframe width="668" height="315" src="https://www.youtube.com/embed/7dzNcHe1mL0?modestbranding=1&autoplay=1&controls=0&theme=light&color=white&autohide=0" frameborder="0"></iframe>
        </div>
        <div id='links'>
            <a class='link' href='https://openflasq.github.io/' target='_blank'><i aria-hidden='true' class='fas fa-flask'></i>&#160;&#160;OpenFlasq Website</a>
            <a class='link' href='https://github.com/openflasq' target='_blank'><i aria-hidden='true' class='fa fa-github'></i>&#160;&#160;GitHub Repository</a>
            <h2 class="desc" id='userNameFull'>Interested?</h2>

            <a class='link big' href='https://instagram.com/flasq.eu' target='_blank'><i aria-hidden='true' class='fa fa-instagram'></i>&#160;&#160;Message us on Instagram</a>
        </div>
        <div class='footer'>
            
        </div>

      <!-- Javascript -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </body>
</html>

