<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>Impressum - Phil Wornath</title>
    <link rel="stylesheet" href="style.css">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    <div class="container">
        <h1>Impressum</h1>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Phil Wornath<br>
        c/o IP-Management #44564<br>
        Ludwig-Erhard-Str. 18<br>
        20459 Hamburg<br>
        Deutschland</p>

        <h2>Datenschutz</h2>
        <p>Diese Website verwendet Matomo, ein datenschutzfreundliches Analysetool, das in der EU 🇪🇺 gehostet wird. Ihre Daten werden anonymisiert und nicht an Dritte weitergegeben. Matomo ist vollständig DSGVO-konform.</p>

        <h2>Kontakt</h2>
        <p>Bei Fragen oder Anliegen können Sie uns jederzeit per E-Mail unter <a href="mailto:phil@philwornath.com">phil@philwornath.com</a> erreichen.</p>

        <h2>Hinweis</h2>
        <p>Wir wünschen Ihnen einen schönen Tag!</p>
    </div>
</body>
</html> 