<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.8">
<html>
   <head>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' rel='stylesheet'/>
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
        <link href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet'/>
        <link rel="stylesheet" href="style.css">
        <title>Phil Wornath - LinkFree</title>
   </head>
   <body>
        <div class='navbar no-items section' id='navbar'></div>
       <div class="user">
            <img alt='User Photo' id='userPhoto' src='https://avatars0.githubusercontent.com/u/6079545?s=460&u=101a828b0003993c7aec0a4d17fb945b9e86e9b3&v=4'/>
            <div class="details">
                <spam class="desc" id='userNameFull'>Phil Wornath</spam>
                <spam class="desc" id='userProfession'>UX Engineer</spam>
                <spam class="desc" id='userName'><a href="https://www.instagram.com/phil.codes/" target='_blank'>@phil.codes</a></spam>
            </div>
            
       </div> 
        
        <div id='links'>
            <div class="highlinks">
                
                <div class="head">
                    <div class="tag">👇 Current project</div>
                    <p id="time">⏱ ~ 5 minutes</p>
                </div>
              
                <h2>Let's plant some trees! 🌳</h2>
                <p>👋 Cheers ! Our planet is in danger. Join me and millions of users in planting some trees together. </p>
                <a class='link' href='https://ecologi.com/philwornath?r=61899c641d977734b4cfd99e' id="carpool" target='_blank'><i aria-hidden='true' class='fa fa-tree'></i>&#160;&#160; Start collecting trees</a>
            </div>
            <a class='link' href='https://cv.philwornath.com/' target='_blank'><i aria-hidden='true' class='fa fa-graduation-cap'></i>&#160;&#160;CV & Portfolio</a>
            <a class="link" href="https://www.figma.com/@phw" target="_blank"><i aria-hidden="true" class="fab fa-figma"></i>&nbsp;&nbsp;Figma Templates</a>
            <div class="highlinks" id="highlinksVanmoof">
                
                <div class="head">
                    <!-- <div class="tag">👇 Current project</div> -->
        
                </div>
              
                <h2>Let's get you on a bike (and save 100€ )!</h2>
                
                <div class="tabbed">
                    <p>VanMoof electric bicycles are considered the Tesla of bicycles. Scaring away & shaming thieves by design, Sleek looking, practival and easy to ride.</p>
                    <div class="copyLink" id="copyLink">
                        <textarea id="textArea">VRR#JB5Q-7GF8-GMT3</textarea>
                        <button href="https://vanmoof.com/" target="_blank" class="link" id="btn" onclick="copyToClickBoard()">Grab Voucher <i aria-hidden='true' class='fa fa-copy'></i></button>    
                    </div>
                    <a class='link' href='https://www.vanmoof.com/' id="btnVanmoof" target='_blank'>Hit the road 🎉 </a>
                </div>
            </div>
            <a class='link' href='https://ht.philwornath.com/' target='_blank'><i aria-hidden='true' class='fas fa-robot'></i>&#160;&#160;HCI Portfolio</a>
            <a class='link' href='https://flasq.eu/' target='_blank'><i aria-hidden='true' class='fas fa-flask'></i>&#160;&#160;Flasq</a>
            <a class='link' href='https://blog.philwornath.com/' target='_blank'><i aria-hidden='true' class='fa fa-newspaper'></i>&#160;&#160;Personal Blog</a>
            <!-- <a class='link' href='https://philwornath.com/' target='_blank'><i aria-hidden='true' class='fa fa-cube'></i>&#160;&#160;Website (to be updated)</a> -->
            <a class='link' href='https://telegram.me/philw' target='_blank'><i aria-hidden='true' class='fa fa-telegram'></i>&#160;&#160;Message me on Telegram</a>
      </div>
        <div class='footer'>
            <a href='https://www.linkedin.com/in/phw/' target='_blank'>
                <i aria-hidden='true' class='fa fa-linkedin media' ></i>
            </a>
            <a href='https://github.com/philffm' target='_blank'>
                <i aria-hidden='true' class='fa fa fa-github media' ></i>
            </a>

            <a href='https://www.instagram.com/phil.codes/' target='_blank'>
                <i aria-hidden='true' class='fa fa-instagram media' ></i>
            </a>
            </a>
            <a href='mailto:phil@philwornath.com' target='_blank'>
                <i aria-hidden='true' class='fa fa-envelope-o media' ></i>
            </a>

        </div>

      <!-- Javascript -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

        <script src='phil.js' ></script>

        <script>
            
        </script>
    </body>
</html>

