<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.8" />
<html>
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <link rel="stylesheet" href="style.css" />
    <title>Phil Wornath - Links</title>
  </head>
  <body>
    <div class="navbar no-items section" id="navbar"></div>
    <div class="user">
      <img
        alt="User Photo"
        id="userPhoto"
        src="https://avatars0.githubusercontent.com/u/6079545?s=460&u=101a828b0003993c7aec0a4d17fb945b9e86e9b3&v=4"
      />
      <div class="details">
        <span class="desc" id="userNameFull">Phil Wornath</span>
        <span class="desc" id="userProfession">UX Engineer</span>
        <span class="desc" id="userName"
          ><a href="https://www.instagram.com/phil.codes/" target="_blank"
            >@phil.codes</a
          ></span
        >
      </div>
    </div>

    <div class="links">
      <div id="donate" class="highlinks column">
        <div class="tag">💰 Appreciate My Work? Buy me a...</div>

        <div id="donationLinks" class="row justify">
          <button
            class="link"
            onclick="updateDonation(3, 'To let me enjoy a refreshing tea while I work!')"
          >
            ☕ Tea
          </button>
          <button
            class="link"
            onclick="updateDonation(20, 'To fund my next life-enhancing gadget')"
          >
            🛠️ Tool
          </button>
          <button
            class="link"
            onclick="updateDonation(50, 'To support my mission to relocate into a [sailboat / tiny house]!')"
          >
            ⛵ Boat
          </button>
        </div>
        <input type="number" id="amount" placeholder="__💰" />
        <p id="donationExplanation" class="explanation center">
          Select a purpose or input your amount
        </p>
        <button class="link" onclick="sendDonation()">
          💸 Send via PayPal
        </button>

        <!-- Explanation div to display selected purpose -->

        <div class="column" id="customAmountSection"></div>
      </div>

      <div class="highlinks">
        <div class="tag">👇 Current projects</div>
        <div>
          <!-- <p>I'm currently working on:</p> -->
          <div class="links">
            <a
              class="link"
              href="https://philwornath.gumroad.com/l/ai-summary-helper"
              target="_blank"
              ><i aria-hidden="true" class="fa fa-magic"></i> AI Summary
              Helper</a
            >
            <a class="link" href="https://smoothri.de" target="_blank"
              ><i aria-hidden="true" class="fa fa-bicycle"></i> SmoothRide: AI
              Cycling Infrastructure App</a
            >
          </div>
        </div>
      </div>

      <a class="link" href="https://medium.com/@philwornath/" target="_blank"
        ><i aria-hidden="true" class="fa fa-medium"></i>&#160;&#160;Read along
        on Medium</a
      >
      <a class="link" href="https://philwornath.substack.com/" target="_blank"
        ><i aria-hidden="true" class="fa fa-newspaper"></i>&#160;&#160;Subscribe
        to my Substack</a
      >
      <a
        class="link"
        href="https://ecologi.com/philwornath?r=61899c641d977734b4cfd99e"
        target="_blank"
        ><i aria-hidden="true" class="fa fa-tree"></i>&#160;&#160; Let's grow
        some trees</a
      >
      <a class="link" href="https://cv.philwornath.com/" target="_blank"
        ><i aria-hidden="true" class="fa fa-graduation-cap"></i>&#160;&#160;CV &
        Portfolio</a
      >
      <a
        class="link"
        href="https://www.instagram.com/phils.bookshelf"
        target="_blank"
        ><i aria-hidden="true" class="fa fa-book"></i>&#160;&#160;What I'm
        reading</a
      >
      <a class="link" href="https://www.figma.com/@phw" target="_blank"
        ><i aria-hidden="true" class="fab fa-figma"></i>&nbsp;&nbsp;Figma
        Templates</a
      >
      <a class="link" href="https://ht.philwornath.com/" target="_blank"
        ><i aria-hidden="true" class="fas fa-robot"></i>&#160;&#160;HCI
        Portfolio</a
      >
      <a class="link" href="https://github.com/philffm" target="_blank"
        ><i aria-hidden="true" class="fa fa-github"></i>&#160;&#160;GitHub</a
      >
    </div>
    <div class="footer">
      <a href="https://www.linkedin.com/in/phw/" target="_blank">
        <i aria-hidden="true" class="fa fa-linkedin media"></i>
      </a>
      <a href="mailto:phil@philwornath.com" target="_blank">
        <i aria-hidden="true" class="fa fa-envelope-o media"></i>
      </a>
      <a href="https://www.instagram.com/phil.codes/" target="_blank">
        <i aria-hidden="true" class="fa fa-instagram media"></i>
      </a>
    </div>

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="phil.js"></script>
  </body>
</html>
