/* Style Settings */

@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
	--font: 'Karla', 'Karla', sans-serif;
	--cyan: #3ab8a1;
	--cyanlight: #7bd6c5;
	--darkcyan: #2c8d7a;
	--pink: #d67bba;
	--white: #f0f0f0;
	--basegrey: #f2f2f2;
	--midgrey: #A1A1A1;
	--darkgrey: #444444;
	--nightgrey: #343232;
	--evendarkergrey: #161616;

}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #0b0b0b;
	margin: 20px;
}

/* Hide the system cursor */
body,
a,
button {
	cursor: none !important;
	/* !important ensures the rule is applied */
}


a {
	color: white;
}

p,
h2 {
	font-family: var(--font);
	color: var(--white);
}

p {
	font-size: larger;
}

/* Style the custom cursor */
#customCursor {
	z-index: 10000;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--cyan);
	mix-blend-mode: difference;
	position: absolute;
	pointer-events: none;
	transition: transform 0.1s ease, width 0.2s, height 0.2s, background-color 0.2s, opacity 0.2s;
	opacity: 0.8;
}



#userPhoto {
	width: 96px;
	height: 96px;
	display: block;
	margin: 35px auto 20px;
	box-shadow: 0px 6px 0px 0px var(--cyan);
	transition: all 0.135s;
}

#userPhoto:hover {
	box-shadow: 0px 15px var(--pink);
	transform: translateY(-10px);
}

#userPhoto:active {
	box-shadow: 0px 0px black;
	transform: translateY(16px);
}

.user {
	display: flex;
	width: max-content;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
}

.desc {
	color: white;
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.25;
	display: block;
	font-family: var(--font);
	width: 100%;
	text-align: center;
	text-decoration: none;
}

.tag {
	font-family: var(--font);
	background: var(--pink);
	color: var(--white);
	align-self: flex-start;
	font-size: 1.1rem;
	padding: 8px;
	max-width: max-content;
	margin: -32px -32px 0px;
	border-radius: 3px;
	text-transform: uppercase;

}

#time {
	text-align: end;
	display: none;
	font-size: initial;
	margin: -5px 0px 0px;
}


/* 45% angled progress bar animation style boomerang */
@keyframes progress {
	0% {
		background-position: 0% 100%;
	}

	50% {
		background-position: 100% 100%;
	}

	100% {
		background-position: 0% 100%;
	}
}

.highlinks {
	padding: 20px 20px;
	/* background: var(--nightgrey); */
	/* /* cool animated dark gradient */
	/* boomerang animation */
	animation: progress 3s infinite alternate;
	background: radial-gradient(circle, rgb(67, 67, 67) 0%, #161616 100%);
	/* animated border */

	background-size: 200% 200%;
	border-radius: 10px;
	margin: 18px -24px;
	display: flex;
	flex-direction: column;
	/* gap: 20px; */
}

#userName {
	font-weight: 300;
	font-size: 1rem;
	transform: rotateZ(-7deg);
	margin: .5rem 0;
}

#userProfession {
	font-weight: 300;
	font-size: 1rem;

}


.links {
	max-width: 675px;
	width: auto;
	display: flex;
	flex-direction: column;
	margin: 12px auto;
	gap: 20px;
}



@keyframes gradientBackground {
	0% {
		background-position: 0% 0%;
	}

	50% {
		background-position: 100% 100%;
	}

	100% {
		background-position: 0% 0%;
	}
}


#donationLinks {
	margin-bottom: 20px;
	/* gap: 20px; */
	animation: gradientBackground 5s infinite alternate;
	/* background: linear-gradient(170deg, #D67BBA, #3AB8A1); */
	/* radial gradient */
	background: radial-gradient(circle, #D67BBA 0%, #3AB8A1 100%);
	background-size: 100% 100%;
}

#donationLinks .link {
	margin: 0;
	animation: gradientBackground 5s infinite alternate;
	background: linear-gradient(180deg, #D67BBA, #3AB8A1);
	background-size: 150% 150%;
}



.flex {
	display: flex;
	justify-content: center;
}

.gap {
	gap: 20px;
}


input[type="number"] {
	font-size: 24px;
	height: 60px;
	font-weight: bold;
	width: 100px;
	border-radius: 12px;
	text-align: center;
	background: var(--nightgrey);
	color: var(--white);
	border: var(--white) solid 4px;
	/* console font */
	font-family: 'Courier New', Courier, monospace;

}


/* number input up down buttons  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}





@media only screen and (max-width: 700px) {
	#links {
		margin-left: 3%;
		margin-right: 3%;
	}

	#link {
		font-size: 1em;
	}

	.highlinks {
		margin-left: 0%;
		margin-right: 0%;
	}

	.night_mode {
		margin-right: 40%;
	}

	p {
		font-size: initial;
	}

	.user {
		flex-direction: revert;
	}

}

.link {
	display: block;
	background-color: var(--cyan);
	color: #fff;
	font-family: var(--font);
	text-align: center;
	margin: 0 12px;
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	transition: all 0.25s;
	box-shadow: 0px 6px var(--darkcyan);
	border: 0;
}

.link:hover {
	/* background: #019489; */
	box-shadow: 0px 10px var(--darkcyan);
	transform: translateY(-3px);
}

.link:active {
	transform: translateY(10px);
	box-shadow: 0px 0px #007569;
}

#proker {
	max-width: 300px;
	width: auto;
	display: grid;
	margin: 27px auto;
}

.footer {
	text-align: center;
	font-size: 1.3rem;
}

.footer a {
	text-decoration: none;
	line-height: 38px;
	font-size: 28px;
}

.media {
	background: #DD5A79;
	width: 50px;
	height: 50px;
	text-align: center;
	color: white;
	margin-bottom: 40px;
	box-shadow: 0px 6px #9E4355;
	transition: all 0.15s;
	padding-top: 10px;
}

.media:hover {
	box-shadow: 0px 8px #9E4355;
	transform: translateY(-2px);
}

.media:active {
	transform: translateY(6px);
	box-shadow: 0px 0px #9E4355;
}


.copyLink {
	display: flex;
	align-items: center;

	flex-direction: column;

}

.tabbed {
	display: flex;
	gap: 12px;
	/* flex-direction: column; */
	/* align-items: center; */

}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	flex-direction: row;
}

.center {
	text-align: center;
}

.justify {
	justify-content: center;
}

#donate {
	background: var(--evendarkergrey);
	color: white;
	border-radius: 10px;
	text-decoration: none;
	scroll-margin-top: 60px;
	/* Adjust the value as needed */
	gap: 12px;
	animation: gradientBackground 8s infinite alternate;
	background: linear-gradient(90deg, #D67BBA, #3AB8A1);
	background-size: 200% 200%;

}


textarea#textArea {
	border-style: dashed;
	border-width: 4px;
	border-radius: 4px;
	text-align: center;
	font-size: 17px;
	line-height: 0px;
	padding: 30px 0;
	vertical-align: baseline;
}


.donate-section {
	background: var(--nightgrey);
	padding: 20px;
	border-radius: 10px;
	margin: 20px auto;
	text-align: center;
}


@media screen and (max-width: 992px) {
	.tabbed {
		flex-direction: column;
	}

	a#btnVanmoof {
		width: auto;
	}
}

@media screen and (max-width: 600px) {
	.tabbed {
		flex-direction: column;
	}

	a#btnVanmoof {
		width: auto;
	}

}

::selection {
	background-color: var(--cyanlight);
	color: black;
	font-weight: bold;
}

.parallax {
	background-image: url('path/to/image.jpg');
	min-height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.svg-icon path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: draw 5s forwards;
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}