<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.8">
<html>
   <head>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css' rel='stylesheet'/>
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'/>
        <link href='https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' rel='stylesheet'/>
        <link rel="stylesheet" href="style.css">
        <title>SmoothRide</title>
   </head>
   <body>
        <div class='navbar no-items section' id='navbar'></div>
       <div class="user">
            <img alt='Smooth Ride Logo' id='smoothridelogo' src='smoothride_logo.svg'/>
            <!-- <div class="details">
                <spam class="desc" id='userName'><a href="https://www.instagram.com/smoothride.ai/" target='_blank'>@smoothride.ai</a></spam>
            </div> -->
            
       </div> 
        
        <div id='links'>
            <div class="highlinks">
                
                <h2>Real-Time Cycling Feedback App</h2>
                <p>Ride with a purpose! Join us in improving cycling infrastructure. Share your data & experiences and help us create a better and safer cycling ecosystems. </p>
                <a class='link' href='https://forms.office.com/e/wGGPZCU3B8' id="carpool" target='_blank'> Join the ride <i aria-hidden='true' class='fa  fa-bicycle'></i></a>
            </div>
            <a class='link' href='https://www.instagram.com/smoothride.ai/'  target='_blank'> Join the smooth ride on Instagram <i aria-hidden='true' class='fa  fa-instagram'></i></a>
            <div>
                <img class="smoothlanding" src="landing_smooth.svg" alt="">
            </div>
            <div class="highlinks">
                
                <h2>Real-Time Cycling Feedback App</h2>
                <p>Ride with a purpose! Join us in improving cycling infrastructure. Share your data & experiences and help us create a better and safer cycling ecosystems. </p>
                <a class='link' href='https://forms.office.com/e/wGGPZCU3B8' id="carpool" target='_blank'> Join the ride <i aria-hidden='true' class='fa  fa-bicycle'></i></a>
            </div>
            <p>Disclaimer: This project is a research study being conducted by Phil Wornath as part of his Master project at Utrecht University of Applied Sciences. The findings and conclusions of the project are those of the author and do not represent the views or opinions of the University. Participation in the project is voluntary and all data collected will be kept confidential. By taking part in the project, you acknowledge that you have read and understood the above disclaimer</p>
      </div>
        <div class='footer'>
            <a href='https://www.linkedin.com/in/phw/' target='_blank'>
                <i aria-hidden='true' class='fa fa-linkedin media' ></i>
            </a>
            <a href='https://github.com/philffm' target='_blank'>
                <i aria-hidden='true' class='fa fa fa-github media' ></i>
            </a>

            <a href='https://www.instagram.com/phil.codes/' target='_blank'>
                <i aria-hidden='true' class='fa fa-instagram media' ></i>
            </a>
            </a>
            <a href='mailto:phil@philwornath.com' target='_blank'>
                <i aria-hidden='true' class='fa fa-envelope-o media' ></i>
            </a>

        </div>

      <!-- Javascript -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

        <script src='phil.js' ></script>

        <script>
            
        </script>
    </body>
</html>

